[Unit]
Description=Moon light display and web server

[Service]
ExecStart=/usr/local/bin/ledcontrol --led_count 150
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
